.popup__input-error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: none;
  align-self: flex-start;
  margin-bottom: 1px;
  width: 358px;
  height: 21px;
  box-sizing: border-box;
  word-wrap: break-word;
}


@media screen and (max-width: 550px) {
  .popup__input-error {
    width: 238px;
  }
}
