.card__button {
  background-image: url(../../../images/LikeWhite.svg);
  height: 19px;
  width: 22px;
  background-repeat: no-repeat;
  object-fit: cover;
  align-self: center;
  margin: 0;
  transition: opacity ease-in .3s;
}

.card__button:hover {
  cursor: pointer;
  opacity: .5;
}

.card__button:active {
  background-image: url(../../../images/LikeBlack.svg);
}
